<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/rgala98/Downloads/x1.png</key>
	<data>
	Ym9va7gCAAAAAAQQMAAAANtu3Z2bt3LPlJ4zyWvimxkOLnq/V72b8QfB8CQ0DEXhtAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHJnYWxhOTgACQAAAAEB
	AABEb3dubG9hZHMAAAAGAAAAAQEAAHgxLnBuZwAAEAAAAAEGAAAQAAAAIAAAADAAAABE
	AAAACAAAAAQDAAAvYgYAAAAAAAgAAAAEAwAA+qgJAAAAAAAIAAAABAMAAP2oCQAAAAAA
	CAAAAAQDAAD0gkUEAgAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQcMG
	4EwfF40YAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAABQBl46AAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAAQUEzQkY1NjQtQzhF
	OS0zMEVBLUI5OTEtNzYyN0NFQTJEMEY2GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAFQA
	AAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQAAAAAAAAAAiAAAKABAAAA
	AAAABSAAABABAAAAAAAAECAAACABAAAAAAAAESAAAFQBAAAAAAAAEiAAADQBAAAAAAAA
	EyAAAEQBAAAAAAAAICAAAIABAAAAAAAAMCAAAKwBAAAAAAAAAcAAAPQAAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAAQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
